<nz-header nzTheme="light">
    <div class="container">
      <div class="logo">
        <a href="#">
          <img src="../../../../assets/images/logo.png" alt="logo">
        </a>
      </div>
      <ul nz-menu nzMode="horizontal">
        <li style="font-weight: 600;" nz-submenu nzTitle="HOSTING">
          <ul>
            <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/list/uat') != -1">
              <a [routerLink]="['/dashboard', 'list', 'uat']">
                UAT
              </a>
            </li>
            <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/list/product') != -1">
              <a [routerLink]="['/dashboard', 'list', 'product']">
                PRODUCT
              </a>
            </li>
          </ul>
        </li>
        <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/list/vlan') != -1">
          <a [routerLink]="['/dashboard', 'list', 'vlan']">
            VLAN
          </a>
        </li>
        <li nz-menu-item [nzSelected]="this.router.url.indexOf('dashboard/list/server') != -1">
          <a [routerLink]="['/dashboard', 'list', 'server']">
            SERVER
          </a>
        </li>
      </ul>
    </div>
</nz-header>