<nz-modal [(nzVisible)]="checkVisibleChangePassword" nzTitle="Thay đổi mật khẩu" (nzOnCancel)="handleCancel()" (nzAfterOpen)="loadingOk()">
    <ng-container *nzModalContent>
        <div class="form-group" nz-row>
            <label for="" style="margin-bottom: 5px;">Old password <span class="color-red">*</span></label>
            <nz-input-group>
              <input type="password" nz-input [(ngModel)]="formUpdate.oldPassword" />
            </nz-input-group>
        </div>
        <div class="form-group" nz-row>
            <label for="" style="margin-bottom: 5px;">New password <span class="color-red">*</span></label>
            <nz-input-group>
              <input type="password" nz-input [(ngModel)]="formUpdate.newPassword" />
            </nz-input-group>
        </div>
        <div class="form-group" nz-row>
            <label for="" style="margin-bottom: 5px;">Confirm new password <span class="color-red">*</span></label>
            <nz-input-group>
              <input type="password" nz-input [(ngModel)]="formUpdate.confirmNewPassword" />
            </nz-input-group>
        </div>
        
    </ng-container>
    <ng-container *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="changePassword()">Change Password</button>
    </ng-container>
</nz-modal>